wheel==0.45.1
requests==2.32.5
xarray==2024.3.0
ale-py==0.11.2
matplotlib==3.8.4
torch==2.9.0
jupyter_client==8.6.3
nvidia-nvtx-cu12==12.8.90
psutil==7.1.2
psutil==5.9.1
parso==0.8.5
antlr4-python3-runtime==4.9.3
exceptiongroup==1.3.0
nvidia-curand-cu12==10.3.9.90
swig==4.4.0
seaborn==0.11.2
wandb==0.23.1
ptyprocess==0.7.0
nvidia-cudnn-cu12==9.10.2.21
pyparsing==3.2.5
nvidia-cusolver-cu12==11.7.3.90
marshmallow==3.26.1
ipykernel==7.1.0
decorator==5.2.1
glfw==2.10.0
kiwisolver==1.4.9
nvidia-nccl-cu12==2.27.5
dataclasses-json==0.6.7
charset-normalizer==3.4.4
importlib_metadata==8.7.0
contourpy==1.3.2
nvidia-cusparse-cu12==12.5.8.93
stack_data==0.6.3
obp==0.5.7
pandas==2.3.3
setuptools==80.9.0
patsy==1.0.2
Pygments==2.19.2
mujoco==3.3.7
matplotlib-inline==0.2.1
typing-inspect==0.9.0
etils==1.13.0
gitdb==4.0.12
pygame==2.6.1
gymnasium==1.0.0
pytz==2025.2
typing-inspection==0.4.2
structlog==25.5.0
fsspec==2025.9.0
wcwidth==0.2.14
jupyter_core==5.9.1
joblib==1.5.2
nvidia-cuda-cupti-cu12==12.8.90
click==8.3.0
hydra-core==1.3.2
nvidia-cusparselt-cu12==0.7.1
colorama==0.4.6
tensorboard-data-server==0.7.2
zipp==3.23.0
pickleshare==0.7.5
mpmath==1.3.0
Pillow==9.1.1
packaging==25.0
mdurl==0.1.2
nvidia-cufft-cu12==11.3.3.83
executing==2.2.1
protobuf==6.33.0
six==1.17.0
idna==3.11
pure_eval==0.2.3
nest_asyncio==1.6.0
pingouin==0.4.0
scope-rl==0.2.1
sympy==1.14.0
pyieoe==0.1.1
jedi==0.19.2
certifi==2025.10.5
networkx==3.4.2
Jinja2==3.1.6
opencv-python==4.12.0.88
GitPython==3.1.45
PyOpenGL==3.1.10
src==0.0.0
stable_baselines3==2.7.0
asttokens==3.0.0
platformdirs==4.5.0
nvidia-nvjitlink-cu12==12.8.93
cloudpickle==3.1.1
markdown-it-py==4.0.0
importlib_resources==6.5.2
Farama-Notifications==0.0.4
grpcio==1.76.0
cycler==0.12.1
tzdata==2025.2
filelock==3.20.0
imageio==2.37.0
sentry-sdk==2.47.0
tabulate==0.9.0
littleutils==0.2.4
tornado==6.5.1
mypy_extensions==0.4.4
tqdm==4.67.1
PyYAML==6.0.3
nvidia-cuda-runtime-cu12==12.8.90
d3rlpy==2.8.1
box2d-py==2.3.5
pexpect==4.9.0
pyzmq==27.1.0
comm==0.2.3
nvidia-nvshmem-cu12==3.3.20
Werkzeug==3.1.3
traitlets==5.14.3
nvidia-cuda-nvrtc-cu12==12.8.93
Markdown==3.9
fonttools==4.60.1
scipy==1.15.3
nvidia-cublas-cu12==12.8.4.1
scikit-learn==1.7.2
pytorch_revgrad==0.2.0
debugpy==1.8.16
gym-notices==0.1.0
rich==14.2.0
icu-sepsis==2.0.1
h5py==3.15.1
absl-py==2.3.1
threadpoolctl==3.6.0
urllib3==2.5.0
pandas_flavor==0.7.0
python-dateutil==2.9.0.post0
pip==25.2
nvidia-cufile-cu12==1.13.1.3
statsmodels==0.14.5
omegaconf==2.3.0
ipython==8.37.0
triton==3.5.0
annotated-types==0.7.0
typing_extensions==4.15.0
prompt_toolkit==3.0.52
pydantic==2.12.5
numpy==2.2.6
tensorboard==2.20.0
outdated==0.2.2
MarkupSafe==3.0.3
pydantic_core==2.41.5
smmap==5.0.2
src==0.0.0
